/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
body{
  min-height: 100vh;
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}
.post_body_wrap{
  height: 190px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.post_bottom{
  display: flex;
  justify-content: space-between;
}
.blog_title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}
.post_item{
  padding-top: 10px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.btn_wrap{
  margin-top: 10px;
  span{
    font-size: 25px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post_item_show{
  margin-top: 20px;
}
.flex_column{
  flex-direction: column;
  height: 350px;
  overflow-y: auto;
}
.footer_fixed{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.categories_wrap{
  flex-direction: column;
}
.categories_link{
  margin: 10px;
}
.post_category_link{
  margin-bottom: 15px;
}
.file_input_wrap{
  margin-bottom: 20px;
}
.function_btn_wrap{
  margin-bottom: 20px;
}
